
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>La Rotonde Fine Arts Investment</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">La Rotonde</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="#subscribetolist">Contact</a></li>
<!--                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
 -->              
              </ul>
            </div>
          </div>
        </div>

      </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="static/img/monet.jpg" alt="Investment">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="highlight">Fine art as an investment</span></h1>
              <p>La Rotonde helps you track fine art as an investment</p>
              <p><a class="btn btn-lg btn-primary" href="#subscribetolist" role="button">Sign up today!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/img/streetart.jpg" alt="Social Media">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="highlight">Discover the trending artists and pieces</span></h1>
              <p>La Rotonde tracks social media, auction results and other sources to inform you of what's trending in fine art</p>
              <p><a class="btn btn-lg btn-primary" href="dashboard.html" role="button">See it in action!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/img/athens3.jpg" alt="LRFAI">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="highlight">Predict Selling Prices</span></h1>
              <p>Our modern data-driven algorithms uses multiple sources of data to predict prices of pieces so that you can make more informed buying decisions</p>
              <p><a class="btn btn-lg btn-primary" href="#subscribetolist" role="button">Sign up now!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
<!--           <img class="img-circle" data-src="js/holder.js/140x140" alt="Generic placeholder image">
 -->          <h2>Social Media Dashboard</h2>
          <p>Follow an artist to see how they have been performing in terms of social media mentions, google searches, wikipedia page views and much more, all in one place.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Price Prediction</h2>
          <p>Our unique algorithm using past auction data and online interest in an artist and piece to determine a selling price for a painting.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>Latest Trends</h2>
          <p>Using La Rotonde, you can discover the latest trends in fine art - before anyone else does.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 -->        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">A lot of data, all in one place.<span class="text-muted"></span></h2>
          <p class="lead">La Rotonde gathers a staggering amount of data every day and allows you to see it all in one place.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/img/picasso.jpg" alt="Picasso">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/img/gallery.jpg" alt="Art Gallery">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">From galleries to auction houses to hedge funds.</h2>
          <p class="lead">La Rotonde's data analysis and social media monitoring tools helps a wide array of firms in the art industry make more better decisions.</p>
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
      <div id="subscribetolist" class="signup">
        <div class="actioncall"><p>La Rotonde brings data-driven decision making to the fine-art world. 
          <br/>We're launching soon!</p></div>
        <div class="subscribe">
          <form id="invite" action="http://getshoprapp.us3.list-manage.com/subscribe/post?u=0710ca2e3da68381de6393e69&amp;id=2cd436e594" method="post" target="_blank">
            <input name="EMAIL" type="text" placeholder="Enter your email address" />
            <button name="submit" value="Subscribe" type="submit">Keep me updated!</button>
          </form>
        </div>

<!--       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
 -->
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <div class="container">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 La Rotonde, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/docs.min.js"></script>
  </body>
</html>
